@model OwensPedPed.DAL.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeEmailNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeEmailNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provence.ProvenceName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
